.details,
.description {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    font-family: "Montserrat", sans-serif;
    color: white;
}

.image {
    padding: 30px;
}

.image>img {
    width: 500px;
    box-shadow: 0px 0px 5px 2px rgb(214, 214, 214);
}

.details-content {
    padding: 0px 100px;
    width: 500px;
}

.details-content>h1 {
    border-bottom: 1px solid rgb(255, 255, 255);
    font-size: 28px;
}

.list-wrapper>ul {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    padding: 0;
    list-style: none
}

.list-wrapper>ul>li {
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px 0;
}

.description {
    padding-top: unset;
    flex-direction: column;
    align-items: center;
}

.description>h1 {
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid white;
    letter-spacing: 1px;
}

.description>p {
    font-size: 15px;
    word-spacing: 1px;
    letter-spacing: 1px;
    width: 70%;
}

.owner-buttons {
    display: flex;
    justify-content: end;
}

.owner-buttons>a,
.owner-buttons>button {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    border: none;
    padding: 8px 30px;
    margin: 0px 10px;
    border: 1px solid rgba(0, 0, 0, 0.329);
    border-radius: 5px;
    background: linear-gradient(100deg, rgb(228, 111, 111) 0%, rgb(168, 71, 71) 50%, rgba(222, 62, 62, 1) 100%);
    cursor: pointer;
}

.owner-buttons>a {
    background: linear-gradient(100deg, rgb(236, 190, 130) 0%, rgb(224, 161, 79) 50%, rgb(230, 158, 65) 100%);
}

.owner-buttons>a:hover,
.owner-buttons>button:hover {
    box-shadow: 0px 0px 2px 1px rgb(105, 105, 105);
}

@media(max-width:910px) {
    .details {
        flex-direction: column;
        align-items: center;
    }

    .image>img {
        width: 100%;
    }

    .details-content {
        padding: unset;
        width: 80%;
    }

    .description {
        text-align: center;
    }

    .owner-buttons {
        justify-content: center;
    }
}