.side-attr {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 55px;
    padding-left: 80px;
}

.profile-img {
    height: 30px;
    width: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 1px #becfe2;
}

.profile-img:hover {
    box-shadow: 0px 0px 5px 2px #e6ecf3;
    cursor: pointer;
}

.profile-img,
.profile-img:after,
.profile-img:before {
    transition: all 1.2s;
}