.my-puzzles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

.my-puzzles>h2 {
    margin-bottom: 0;
    letter-spacing: 3px;
    padding: 10px;
    text-align: center;
    max-width: 400px;
    width: 90%;
    border-bottom: 1px solid white;
}